<!DOCTYPE html>
<html>
<head>
<title>Digit AI</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="box">
<h1>Draw Digit</h1>

<canvas id="canvas" width="280" height="280"></canvas>

<h2 id="result">-</h2>

<div class="buttons">
<button onclick="predict()">Predict</button>
<button onclick="clearCanvas()">Clear</button>
</div>

<div class="labels">
<button onclick="saveDigit(0)">0</button>
<button onclick="saveDigit(1)">1</button>
<button onclick="saveDigit(2)">2</button>
<button onclick="saveDigit(3)">3</button>
<button onclick="saveDigit(4)">4</button>
<button onclick="saveDigit(5)">5</button>
<button onclick="saveDigit(6)">6</button>
<button onclick="saveDigit(7)">7</button>
<button onclick="saveDigit(8)">8</button>
<button onclick="saveDigit(9)">9</button>
</div>
</div>

<script src="/static/script.js"></script>
</body>
</html>